.profile-presentation {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50vw;
    margin: auto;
    /* border: 1px solid tomato; */
    div,
    h1 {
        font-size: 3.8vh;
        border: 0px solid black;
        text-align: center;
    }
    h2 {
        margin: 0 1vw 2.5vw;
        font-size: 2.5vw;
    }

    .profile-pic {
        display: flex;
        width: 25vw;
        height: 25vw;
    }

    .description {
        font-size: 2vh;
        max-width: 70%;;
    }

    @media (min-width: 800px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .profile-pic {
            width: 140px;
            height: 140px;
        }

        .profile-name {
            padding-left: 1vw;
            font-size: 8vw;
            line-height: 8vw;
        }
    }

    @media (max-width: 799px) {
        & {
            max-width: 90vw;
        }
    }
}