// Color Theme
$primary-color: #f1f1e9;
$secondary-color: #f22c16;
$text-color: #444;
$link-color: #446677;
$main-font-color: #2e2929;

$gap-gallery: 1vh;

// Mixins
@mixin rounded-hidden($radius: 2%) {
    border-radius: $radius;
    overflow: hidden;
}

:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};

    ::selection {
        background-color: darken($primary-color, 25%);
        color: $primary-color;
    }

    /* Para navegadores que no soportan ::selection */
    ::-moz-selection {
        background-color: darken($primary-color, 25%);
        color: $primary-color;
    }
}

a.theme-link {
    color: $link-color;
    font-size: 20px;
    &:hover {
        color: $secondary-color !important;
    }
    &:visited {
        color: $link-color;
    }
}

body {
    margin: 0;
    background-color: $primary-color;
    color: $main-font-color;
    padding-bottom: 10%;
}
