
// Color Theme
$primary-color: #d5d5bf;
$secondary-color: #c58080;
$text-color: #444;
$link-color: #446677;

// Text

$main-font-color: white;
:root {
    ::selection {
        background-color: darken($primary-color, 25%);
        color: $primary-color;
    }

    /* Para navegadores que no soportan ::selection */
    ::-moz-selection {
        background-color: darken($primary-color, 25%);
        color: $primary-color;
    }

    body {
        margin: 0;
        color: $text-color;
        background-color: $primary-color;
    }
}