$primary-color: tomato;

a {
    &.navigation-link {
        color: black;
        text-decoration: none;
        opacity: 0.6;
        transition: all 0.3s;
        &:hover {
            text-decoration: underline;
            color: $primary-color;
            opacity: 1;
        }
        &.selected {
            font-weight: bold;
            opacity: 1;
            color: $primary-color;
        }
    }
}