.top-menu {
    position: relative;
    &.sticky {
        position: fixed;
        top: 0;
        width: -webkit-fill-available;
        background-color: rgb(247, 231, 205);
        -webkit-box-shadow: 1px 7px 5px -3px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 1px 7px 5px -3px rgba(0, 0, 0, 0.23);
        box-shadow: 1px 7px 5px -3px rgba(0, 0, 0, 0.23);
    }

    padding: 12px;
    background-color: #ffffff00;
    transition: all 0.2s linear;

    display: flex;
    flex-flow: row;
    justify-content: space-between;

    .brand-logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: bold;
        font-size: 2.5vh;
    }

    /* Media quieries */
    @media (min-width: 350px) {
        .top-menu {
            -webkit-box-shadow: 1px 7px 4px -5px rgba(0, 0, 0, 0.13);
            -moz-box-shadow: 1px 7px 4px -5px rgba(0, 0, 0, 0.13);
            box-shadow: 1px 7px 4px -5px rgba(0, 0, 0, 0.13);
        }
    }
}
