.container {
    border: 1px dotted black;
    padding: 5px;
    width: 50%;
    height: 100px;
}
// .flex-test {
//     display: flex;
//     // flex-direction: column;
//     //flex-direction: row;
//     // flex-wrap: wrap;
//     flex-flow: row wrap;
//     justify-content: center;
//     // align-items: flex-end;
//     align-items: stretch;
//     align-items: baseline;
//     align-items: center;
//     align-content: flex-center;
//     gap: 10px 50px;
//     flex-grow: 6;

//     div {
//         display:inline-block;
//         padding: 4px;
//         border:1px solid tomato;
//         // height: 30px;
//         &.fire {
//             font-weight: bold;
//             order: -1;
//             flex-grow: -1;
//             flex-shrink: -1;
//             align-self: stretch;
//         }
//     }
// }

.top-menu {
    border: 1px solid;
    padding: 0px 2%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    .brand-logo {
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    .menu-options {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 10px;

    }
}